<div layout-margin>
    <md-card style="margin:0px">
        <md-input-container style="margin:15px;">
            <label>Search</label>
            <input type="text" ng-model="clientFilter">
        </md-input-container>

        <div ng-hide="true">
            {{(filteredClients = (clients | filter: clientFilter))}}
        </div>
    </md-card>

    <mdt-table animate-sort-icon="true"
               paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}"
               mdt-row="{'data': filteredClients,
               'table-row-id-key': 'id',
               'column-keys': ['name', 'address', 'phone', 'fax', 'email', 'contactPerson', 'invoices', 'quotas', 'edit']}">

        <mdt-header-row>
            <mdt-column column-sort="true">Name</mdt-column>
            <mdt-column column-sort="true">Address</mdt-column>
            <mdt-column column-sort="true">Phone</mdt-column>
            <mdt-column>Fax</mdt-column>
            <mdt-column column-sort="true">Email</mdt-column>
            <mdt-column>Contact</mdt-column>
            <mdt-column>Invoices</mdt-column>
            <mdt-column>Quotas</mdt-column>
            <mdt-column align-rule="center">Edit</mdt-column>

            <mdt-custom-cell column-key="edit" html-content="true">
                <mdt-custom-cell-edit-button ng-click="clientScope.showClientInfoDialog( rowId )"></mdt-custom-cell-edit-button>
            </mdt-custom-cell>
            <mdt-custom-cell column-key="invoices">{{value}}</mdt-custom-cell>
            <mdt-custom-cell column-key="quotas">{{value}}</mdt-custom-cell>

            <!-- ID model bind - for delete -->
            <mdt-custom-cell column-key="id" ng-hide="true" ng-model="client.id">
                {{ value }}
            </mdt-custom-cell>
        </mdt-header-row>
    </mdt-table>

    <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAddClientDialog($event)">
        <ng-md-icon icon="add"></ng-md-icon>
    </md-button>
</div>