<div class="table-title">
    <h3>Companies</h3>
</div>
<table class="table-fill">
    <thead>
    <tr>
        <th class="text-left">Name</th>
        <th class="text-left">Phone</th>
        <th class="text-left">Fax</th>
        <th class="text-left">Address</th>
        <th class="text-left">Contact</th>
        <th class="text-left">Email</th>
        <th class="text-left">Invoices</th>
        <th class="text-left">Quotas</th>
    </tr>
    </thead>
    <tbody class="table-hover">
    <tr ng-repeat="company in companies">
        <td class="text-left">{{ company.name }}</td>
        <td class="text-left">{{ company.phone }}</td>
        <td class="text-left">{{ company.fax }}</td>
        <td class="text-left">{{ company.address }}</td>
        <td class="text-left">{{ company.contactPerson }}</td>
        <td class="text-left">{{ company.email }}</td>
        <td class="text-left">{{ company.invoices }}</td>
        <td class="text-left">{{ company.quotas }}</td>
    </tr>
    </tbody>

</table>