<div layout-margin>
    <md-card style="margin:0px">
        <md-input-container style="margin:15px;">
            <label>Search</label>
            <input type="text" ng-model="peopleFilter">
        </md-input-container>

        <div ng-hide="true">
            {{(filteredPeople = (people | filter: peopleFilter))}}
        </div>
    </md-card>

    <mdt-table animate-sort-icon="true"
               paginated-rows="{isEnabled: true, rowsPerPageValues: [5,10,20,100]}"
               mdt-row="{
                         'data' : filteredPeople,
                         'table-row-id-key' : 'personId',
                         'column-keys' : ['firstName','lastName','company','phone','email','tz','edit','delete']}">

        <mdt-header-row>
            <mdt-column column-sort="true" align-rule="left">First Name</mdt-column>
            <mdt-column column-sort="true" align-rule="left">Last Name</mdt-column>
            <mdt-column column-sort="true" align-rule="left">Company</mdt-column>
            <mdt-column align-rule="left">Phone #</mdt-column>
            <mdt-column column-sort="true" align-rule="left">Email</mdt-column>
            <mdt-column align-rule="left">Identification #</mdt-column>
            <mdt-column align-rule="center">Edit</mdt-column>
            <mdt-column align-rule="center">Delete</mdt-column>

            <mdt-custom-cell column-key="edit" html-content="true">
                <mdt-custom-cell-edit-button ng-click="clientScope.showRowId( rowId )">test</mdt-custom-cell-edit-button>
            </mdt-custom-cell>
            <mdt-custom-cell column-key="delete" html-content="true">
                <mdt-custom-cell-delete-button ng-click="clientScope.showRowId(rowId)">test</mdt-custom-cell-delete-button>
            </mdt-custom-cell>
        </mdt-header-row>
    </mdt-table>
</div>