<div class="table-title">
    <h3>People</h3>
</div>
<table class="table-fill">
    <thead>
    <tr>
        <th class="text-left">First Name</th>
        <th class="text-left">Last Name</th>
        <th class="text-left">Company</th>
        <th class="text-left">Phone</th>
        <th class="text-left">Email</th>
        <th class="text-left">TZ</th>
    </tr>
    </thead>
    <tbody class="table-hover">
    <tr ng-repeat="person in people">
        <td class="text-left">{{ person.firstName }}</td>
        <td class="text-left">{{ person.lastName }}</td>
        <td class="text-left">{{ person.company }}</td>
        <td class="text-left">{{ person.phone }}</td>
        <td class="text-left">{{ person.email }}</td>
        <td class="text-left">{{ person.tz }}</td>
    </tr>
    </tbody>

</table>