<md-dialog aria-label="Person Info">
    <md-toolbar class="md-hue-2 md-toolbar-tools">
        <h2>{{ user.firstName}} {{ user.lastName }} - {{ user.tz }} </h2>
    </md-toolbar>
    <md-content class="md-padding">
        <form name="userForm">
            <div layout layout-sm="column" ng-show="user.hasImage">
                <img ng-src="{{!changingImage ? imageDir + '/' + user.firstName + '_' + user.lastName + '.png' : myCroppedImage}}" height="200" width="150" border="1" style="margin-top:10px; margin-bottom:15px">
            </div>
            <div layout="column">
                <md-button class="md-raised md-primary" ng-click="showAddImageDialog()" ng-show="!user.hasImage">Add Image</md-button>
                <md-button class="md-raised md-accent" ng-click="changeImage()" ng-show="user.hasImage">Change Image</md-button>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>First Name</label>
                    <input ng-model="user.firstName">
                </md-input-container>
                <md-input-container flex>
                    <label>Last Name</label>
                    <input ng-model="user.lastName">
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Phone</label>
                    <input ng-model="user.phone">
                </md-input-container>
                <md-input-container flex>
                    <label>Email</label>
                    <input ng-model="user.email">
                </md-input-container>
            </div>
            <div layout layout-sm="column">
                <md-input-container flex>
                    <label>Client</label>
                    <input ng-model="user.client">
                </md-input-container>
                <md-input-container flex>
                    <label>ID Number</label>
                    <input ng-model="user.tz">
                </md-input-container>
            </div>
        </form>
    </md-content>
    <md-dialog-actions layout="row"><span flex></span>
        <md-button class="md-warn" ng-click="confirmDeletePerson()">Delete</md-button>
        <span flex></span>
        <md-button ng-click="cancel()">Cancel</md-button>
        <md-button class="md-primary" ng-click="updatePerson()">Update</md-button>
    </md-dialog-actions>
</md-dialog>