<html lang="en" ng-app="crm">
<head>
    <link rel="stylesheet" href="webjars/angular-material/1.1.3/angular-material.min.css">
    <link rel="stylesheet" href="webjars/github-com-iamisti-mdDataTable/2.2.0/md-data-table-style.css">
    <link href="webjars/angular-bootstrap-calendar/0.14.2/dist/css/angular-bootstrap-calendar.min.css" rel="stylesheet">
</head>
<body layout="row" ng-controller="mainController">
<!-- Side Navigation -->
<md-sidenav layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-personId="left"
            md-is-locked-open="$mdMedia('gt-md')">
    <md-toolbar class="md-hue-2">
        <span flex></span>
    </md-toolbar>
    <md-list>
        <md-list-item ng-repeat="item in menu" ng-click="changePath(item.link, item.title)">
            <a>
                <md-item-content md-ink-ripple layout="row"
                                 layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                    </div>
                    <div class="inset">{{item.title}}
                    </div>
                </md-item-content>
            </a>
        </md-list-item>
        <md-divider></md-divider>
        <md-subheader>Management</md-subheader>
        <md-list-item ng-repeat="item in admin">
            <a>
                <md-item-content md-ink-ripple layout="row" layout-align="start center">
                    <div class="inset">
                        <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
                    </div>
                    <div class="inset">{{item.title}}
                    </div>
                </md-item-content>
            </a>
        </md-list-item>
    </md-list>
</md-sidenav>
<div layout="column" class="relative" layout-fill role="main">
    <!-- Add Floating Button -->
    <md-button class="md-fab md-fab-bottom-right" aria-label="Add" ng-click="showAdd($event)">
        <ng-md-icon icon="add"></ng-md-icon>
    </md-button>
    <!-- Main Toolbar (+ search and more icons) -->
    <md-toolbar ng-show="!showSearch">
        <div class="md-toolbar-tools">
            <md-button ng-click="toggleSidenav('left')" hide-gt-md aria-label="Menu">
                <ng-md-icon icon="menu"></ng-md-icon>
            </md-button>
            <h3>
                {{title}}
            </h3>
            <span flex></span>
            <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
            <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                <ng-md-icon icon="more_vert"></ng-md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <!-- Main Search Toolbar -->
    <md-toolbar class="md-hue-1" ng-show="showSearch">
        <div class="md-toolbar-tools">
            <md-button ng-click="showSearch = !showSearch" aria-label="Back">
                <ng-md-icon icon="arrow_back"></ng-md-icon>
            </md-button>
            <h3 flex="10">
                Back
            </h3>
            <md-input-container md-theme="input" flex>
                <label>&nbsp;</label>
                <input ng-model="search.who" placeholder="enter search">
            </md-input-container>
            <md-button aria-label="Search" ng-click="showSearch = !showSearch">
                <ng-md-icon icon="search"></ng-md-icon>
            </md-button>
            <md-button aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                <ng-md-icon icon="more_vert"></ng-md-icon>
            </md-button>
        </div>

    </md-toolbar>
    <!-- Content (Routed from app.config) -->
    <md-content flex="100" md-scroll-y>
        <div ng-view></div>
    </md-content>
</div>

<!-- Angular Material Dependencies -->
<script src="webjars/angular/1.5.8/angular.min.js"></script>
<script src="webjars/angular-route/1.5.8/angular-route.min.js"></script>
<script src="webjars/angular-animate/1.5.8/angular-animate.min.js"></script>
<script src="webjars/angular-aria/1.5.8/angular-aria.min.js"></script>
<script src="webjars/angular-material/1.1.1/angular-material.min.js"></script>
<script src="webjars/angular-material-icons/0.7.1/angular-material-icons.min.js"></script>

<!-- Media Direct Table Dependencies -->
<script src="webjars/angular-sanitize/1.5.8/angular-sanitize.min.js"></script>
<script src="webjars/jquery/2.1.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/3.10.1/lodash.min.js"></script>
<script src="webjars/github-com-iamisti-mdDataTable/2.2.0/md-data-table-templates.js"></script>
<script src="webjars/github-com-iamisti-mdDataTable/2.2.0/md-data-table.js"></script>

<!-- UI-calendar dependencies -->
<script type="text/javascript" src="webjars/moment/2.18.1/min/moment.min.js"></script>
<script src="webjars/angular-bootstrap-calendar/0.14.2/dist/js/angular-bootstrap-calendar-tpls.min.js"></script>
<script src="webjars/angular-ui-bootstrap/2.2.0/ui-bootstrap.min.js"></script>

<!-- Application Dependencies -->
<script src="js/app.js"></script>
<script src="js/controller/mainController.js"></script>
<script src="js/controller/clientsController.js"></script>
<script src="js/controller/peopleController.js"></script>
<script src="js/controller/calendarController.js"></script>
<script src="js/directive/mdtTableDirectives.js"></script>
<script src="js/factory/clientsFactory.js"></script>
<script src="js/factory/peopleFactory.js"></script>
</body>
</html>